<span> 
    {% for i in 1..5 %}
        {% if i <= rating %}
        <i class="fas fa-star text-success"></i>
        {% else %}
        <i class="far fa-star text-success"></i>
            {% endif %}
    {% endfor %}
</span>