<div class="text-right">
    <h2>Mon compte</h2>
    <a href="{{ path('account_edit') }}">Modifier mon compte</a> <a href="{{ path('account_edit') }}"><i class="fas fa-user"></i></a><br>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a> <a href="{{ path('account_password') }}"><i class="fas fa-key"></i></a>
</div>