{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous{% endblock %}


{% block body %}
<div class="container p-5">
    <h1 class="text-center">Qui se cache derrière Yvette & Augustin ?</h1>
    <div class="row pt-3">
        <div class="col-md-4">
            Une photo de nous ici :D
        </div>
        <div class="col-md-8">
            <p>
                2 jeunes, Baptiste et Célia, avec la volonté de moderniser le monde de l'aromathérapie...Sed scelerisque libero ante, 
                in dictum elit lacinia non. Aenean vehicula scelerisque lobortis. Suspendisse scelerisque metus sit amet ante fermentum pharetra. 
                Nunc varius iaculis nisl, eget mollis turpis molestie sed. Suspendisse potenti. 
                Etiam in magna arcu. Aliquam consequat enim tortor, ut suscipit orci posuere a. 
                Nullam semper metus nisi, vel rutrum velit pellentesque sit amet. Pellentesque porttitor velit et diam malesuada rhoncus. 
                Vestibulum fermentum, turpis sit amet pellentesque malesuada, erat arcu malesuada leo, nec porta nisl metus et erat. 
                Vestibulum dapibus lorem eu interdum bibendum. Quisque quis nisi placerat ipsum blandit dapibus eu non felis. 
                Quisque mollis eros sed felis aliquet, eu feugiat erat viverra. In non facilisis enim. Nulla a lacus vestibulum, consequat est sit amet, 
                tristique neque.
            </p>
            <h2 class="pt-3">Pourquoi Yvette & Augustin ?</h2>
            <p>
            2 jeunes, Baptiste et Célia, avec la volonté de moderniser le monde de l'aromathérapie...Sed scelerisque libero ante, 
                in dictum elit lacinia non. Aenean vehicula scelerisque lobortis. Suspendisse scelerisque metus sit amet ante fermentum pharetra. 
                Nunc varius iaculis nisl, eget mollis turpis molestie sed. Suspendisse potenti. 
                Etiam in magna arcu. Aliquam consequat enim tortor, ut suscipit orci posuere a. 
                Nullam semper metus nisi, vel rutrum velit pellentesque sit amet. Pellentesque porttitor velit et diam malesuada rhoncus. 
                Vestibulum fermentum, turpis sit amet pellentesque malesuada, erat arcu malesuada leo, nec porta nisl metus et erat. 
                Vestibulum dapibus lorem eu interdum bibendum. Quisque quis nisi placerat ipsum blandit dapibus eu non felis. 
                Quisque mollis eros sed felis aliquet, eu feugiat erat viverra. In non facilisis enim. Nulla a lacus vestibulum, consequat est sit amet, 
                tristique neque.
            </p>
        </div>
    </div>
</div>
{% endblock %}
